/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
  font-size: var(--font-size-main);
  max-inline-size: var( --section-width);
  font-variation-settings: "wght" var(--font-weight-normal);
  background-color: var(--main-color);
  background-image: var(--page-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  font-family: var(--font-accent);
  background-color: var(--main-color);
  min-block-size: var(--header-height);
  margin-block-start: 102px;
  border: var(--section-border);
}

.header__title {
  font-size: var(--font-size-title);
}

.header__subtitle {
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
}

.cards {
  margin-block-start: 100px;
  background-color: var(--main-color);
}

.card {
  border: var(--section-border);
  line-height: 21px;
}

.card__list {


}

.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.card__title {
  font-size: var(--font-size-main);
  font-variation-settings: "wght" var(--font-weght-bold);
  padding: 4px 10px 6px 10px;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card__item::after {
  content: "</HTML>";
  position: absolute;
  inset-inline-end: var(--card-label-pos);
  inset-block-start: 23px;
  font-family: var(--font-accent);
  font-size: var(--font-size-small);
  max-inline-size: 98px;
  text-shadow:
    -1px 0 var(--main-color), 
    0 1px var(--main-color), 
    1px 0 var(--main-color), 
    0 -1px var(--main-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (text-stroke: 1px var(--main-color)) or (-webkit-text-stroke: 1px var(--main-color)) {
  .card__item::after {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
  }
}

.card__text {
  padding-inline: 27px;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  column-gap: 8px;
  margin-block-end: 25px;
}

.card__icon-button {
  background: none;
  block-size: 38px;
  padding: 0;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__icon-button .main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s linear 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-main-color);
  transition: 0.3s linear 0.05s;
}

.card__icon-button .core {
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.card__icon-button .is-liked .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.card__icon-button .is-liked .main-body {
  fill: var(--heart-main-color);
  transition: 0.3s linear 0.05s;
}

.card__icon-button .is-liked .contour {
  fill: var(--heart-main-color);
  transition: 0.3s linear 0.06s;
}

.card__icon-button .contour {
  fill: var(--accent-color);
  transition: 0.1s linear;
}

.card__icon-button .is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.card__icon-button .is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s;
}

.button-decore {
  position: relative;
  font-family: var(--font-accent);
  font-size: var(--font-size-small);
  background-color: var(--main-color);
  transition: box-shadow 0.3s ease;
}

.button-decore::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button-decore:hover::after {
  transform: scaleX(1);
}

.button-decore:focus {
  outline: none;
}

.button-decore:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  min-block-size: 38px;
  margin-inline-end: 25px;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.save {
  display: flex;
  justify-content: center;
  margin-block: 52px 100px;
}

.save__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  inline-size: var(--save-button-width);
  min-block-size: var(--save-button-height);
}

.save__button-icon {
  block-size: 28px;
  aspect-ratio: 1;
}

.save__dialog[open] {
  display: grid;
}

.save__dialog {
  grid-template-columns: min-content 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
  font-size: var(--font-size-small);
  padding: 30px var(--dialog-padding);
  max-inline-size: var(--dialog-width);
}

.save__dialog::backdrop {
  background-color: #000000;
  opacity: 0.75;
}

.save__button-icon {
  fill: var(--main-color);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.save__dialog-title {
  font-family: var(--font-accent);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  line-height: 150%;
}

.save__dialog-close-button {
  grid-column: span 2;
  inline-size: 100%;
  text-transform: uppercase;
  min-block-size: 38px;
}


@media (width >= 768px) {
  .save__button {
    flex-direction: row;
    column-gap: 8px;
  }
}