:root {
  --font-main: "Inter-Variable";
  --font-accent: "PressStart2P";
  --font-size-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --font-size-main: 18px;
  --font-size-small: 14px;
  --font-weight-normal: 400;
  --font-weght-bold: 700;

  --main-color: #FFFFFF;

  --section-border: 2px solid #000000;

  --section-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-height: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  --card-height: clamp(47.5rem, 43.0986rem + 18.7793vw, 60rem);
}